<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/utilities.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Top | Find what you want about famous people</title>
    <style></style>
  </head>
  <body>
    <!-- HEADER -->
    <header class="active">
      <nav class="container">
        <h1><a href="../index.html">T</a></h1>
        <ul class="flex">
          <li>
            <a href="contactus.html">Contact us</a>
          </li>
          <li>
            <a href="#">About us</a>
          </li>
          <li>
            <div class="dropdown">
              <input type="checkbox" id="drop-menu" />
              <label for="drop-menu">
                <i class="fa-solid fa-chevron-down"></i>
              </label>
              <div class="dropdown-content">
                <ul>
                  <li>
                    <a href="actors.html">Actors</a>
                  </li>
                  <li>
                    <a href="">Athelets</a>
                  </li>
                  <li>
                    <a href="">Singers</a>
                  </li>
                  <li>
                    <a href="">Scientists</a>
                  </li>
                  <li>
                    <a href="">Rich Men</a>
                  </li>
                  <li>
                    <a href="">Influencers</a>
                  </li>
                  <li>
                    <a href="">Writers</a>
                  </li>
                  <li>
                    <a href="">Freelancers</a>
                  </li>
                  <li>
                    <a href="">Motivational Speakers</a>
                  </li>
                  <li>
                    <a href="">Entrepreneurs</a>
                  </li>
                  <li>
                    <a href="">World Records</a>
                  </li>
                  <li>
                    <a href="">World Leaders</a>
                  </li>
                  <li>
                    <a href="">Explorers</a>
                  </li>
                  <li>
                    <a href="">Freelancers</a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    <!-- About us FORM -->

    <section class="main">
      <div class="text-container">
        <h1>Team members</h1>
        <div class="line"></div>
      </div>
      <br />
      <div class="cards-container">
        <div class="card2 test">
          <div class="img-container">
            <img src="../images/3_amr mohamed.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name">Amr mohamed</h2>
                <div class="icons">
                  <h2 class="name">the leader</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="card-active test1">
            <div class="card-active-text-header">
              <h1>Amr mohamed</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">home page</a><br />
                2 - <a href="#">actors</a><br />
                3 - <a href="#">contact us</a><br />
                4 - <a href="#">lyout of second page</a><br />
              </p>
              <a class="btn">202001133</a>
            </div>
          </div>
        </div>

        <div class="card2">
          <div class="img-container">
            <img src="../images/3_amr eid.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name">Amr Eid</h2>
                <div class="icons">
                  <h2 class="name">vice head</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="card-active">
            <div class="card-active-text-header">
              <h1>Amr Eid</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">World Leaders</a><br />
                2 - <a href="#">Freelancers</a><br />
                3 - <a href="#">about us</a><br />
              </p>
              <a class="btn">20210643</a>
            </div>
          </div>
        </div>
      </div>
      <br />

      <!-- SECOND ROW -->
      <div class="cards-container">
        <div class="card2 test">
          <div class="img-container">
            <img src="../images/3_amr yaseer.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name">amr yaseer</h2>
                <div class="icons">
                  <h2 class="name">supervisor</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="card-active test1">
            <div class="card-active-text-header">
              <h1>amr yaseer</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">Entrepreneurs</a><br />
                2 - <a href="#">World Records</a><br />
              </p>
              <a class="btn">20210647</a>
            </div>
          </div>
        </div>

        <div class="card2">
          <div class="img-container">
            <img src="../images/3_fares ashraf.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name" target="_blank">Fares Ashraf</h2>
              </div>
            </div>
          </div>
          <div class="card-active">
            <div class="card-active-text-header">
              <h1>Fares Ashraf</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">Athelets</a><br />
                2 - <a href="#">Scientists</a><br />
              </p>
              <a class="btn">20210657</a>
            </div>
          </div>
        </div>

        <div class="card2">
          <div class="img-container">
            <img src="../images/3_eid gmal.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name" target="_blank">Eid Gmal</h2>
              </div>
            </div>
          </div>
          <div class="card-active">
            <div class="card-active-text-header">
              <h1>Eid Gmal</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">Rich people</a><br />
                2 - <a href="#">Motivational Speakers</a><br />
              </p>
              <a class="btn">20210649</a>
            </div>
          </div>
        </div>
      </div>
      <br />

      <!-- THIRD ROW -->
      <div class="cards-container">
        <div class="card2 test">
          <div class="img-container">
            <img src="../images/3_omar gaber.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name">omar Gaber</h2>
              </div>
            </div>
          </div>
          <div class="card-active test1">
            <div class="card-active-text-header">
              <h1>omar Gaber</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">Singers</a><br />
                2 - <a href="#">Influencers</a><br />
              </p>
              <a class="btn">20210623</a>
            </div>
          </div>
        </div>

        <div class="card2">
          <div class="img-container">
            <img src="../images/3_fares adly.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name">Fares Adly</h2>
              </div>
            </div>
          </div>
          <div class="card-active">
            <div class="card-active-text-header">
              <h1>Fares Adly</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">Writers</a><br />
              </p>
              <a class="btn">20210658</a>
            </div>
          </div>
        </div>

        <div class="card2">
          <div class="img-container">
            <img src="../images/3_amr waeel.jpg" alt="" />
            <div class="card-hover">
              <div class="social">
                <h2 class="name">Amr Wael</h2>
              </div>
            </div>
          </div>
          <div class="card-active">
            <div class="card-active-text-header">
              <h1>Amr Wael</h1>
              <div class="underline"></div>
            </div>
            <div class="card-active-text-main">
              <p>
                Created pages:<br /><br />
                1 - <a href="#">Explorers</a><br />
              </p>
              <a class="btn">20210646</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- FOOTER -->
    <footer>
      <div class="container grid">
        <nav class="memebers">
          <h3>Memebers</h3>
          <ul>
            <li>
              <a href="#">Amr Mohamed</a>
            </li>
            <li>
              <a href="#">Amr Eid</a>
            </li>
            <li>
              <a href="#">Amr Yasser</a>
            </li>
            <li>
              <a href="#">Amr Wael</a>
            </li>
            <li>
              <a href="#">Fares Ashraf</a>
            </li>
            <li>
              <a href="#">Fares Adili</a>
            </li>
            <li>
              <a href="#">Eid Gamal</a>
            </li>
            <li>
              <a href="#">Omar Gaber</a>
            </li>
          </ul>
        </nav>

        <nav class="categories">
          <h3>Categories</h3>
          <ul>
            <li>
              <a href="pages/actors.html">Actors</a>
            </li>
            <li>
              <a href="">Athelets</a>
            </li>
            <li>
              <a href="">Scientists</a>
            </li>
            <li>
              <a href="">Singers</a>
            </li>
            <li>
              <a href="">Explorers</a>
            </li>
            <li>
              <a href="">Writers</a>
            </li>
            <li>
              <div class="dropdown-footer">
                <input type="checkbox" id="drop-menu-footer" />
                <label for="drop-menu-footer">
                  <span>More...</span>
                </label>
                <div class="dropdown-content">
                  <ul>
                    <li>
                      <a href="">Rich Men</a>
                    </li>
                    <li>
                      <a href="">Influencers</a>
                    </li>
                    <li>
                      <a href="">Freelancers</a>
                    </li>
                    <li>
                      <a href="">Motivational Speakers</a>
                    </li>
                    <li>
                      <a href="">Entrepreneurs</a>
                    </li>
                    <li>
                      <a href="">World Records</a>
                    </li>
                    <li>
                      <a href="">World Leaders</a>
                    </li>
                    <li>
                      <a href="">Freelancers</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>

        <nav>
          <h3>Overview</h3>
          <ul>
            <li>
              <a href="">Contact us</a>
            </li>
            <li>
              <a href="">About us</a>
            </li>
          </ul>
        </nav>

        <div class="form flex">
          <div class="form-text">
            <h3>Subscribe</h3>
            <p>To get all the news</p>
          </div>
          <form class="flex">
            <input type="text" placeholder="Name" />
            <input type="text" placeholder="Email" />
            <input type="submit" value="Subscribe" class="btn" />
          </form>
        </div>
      </div>
      <h2 class="end-text">
        All CopyRights Reserved to &copy;
        <span>Top</span>
      </h2>
    </footer>

    <script src="../Scripts/script.js"></script>
  </body>
</html>
