.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 600px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  margin-top: 43px;
  margin-bottom: 0;
  height: 342px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 407px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 10px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  font-weight: 700;
  margin-right: 0;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 193px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-icon-1 {
  width: 138px;
  height: 138px;
  margin: 0 13px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 193px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 3px;
}

.u-section-1 .u-text-3 {
  line-height: 2;
  margin: 13px 0 0 27px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 495px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    height: 275px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 159px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 152px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 443px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 349px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 366px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 230px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1138px;
}

.u-section-2 .u-text-1 {
  margin: 41px 470px 0 427px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 485px auto 0 -13px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 560px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/7d0a4f74/4770622/images/WhatsAppImage2023-05-01at12.35.35AM.jpeg");
  background-position: 50% 50%;
  margin: 7px 37px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 159px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-3 {
  margin: 3px 61px 0 81px;
}

.u-section-2 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 20px 92px 0 auto;
}

.u-section-2 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/7d0a4f74/4770622/images/WhatsAppImage2023-05-01at12.37.53AM.jpeg");
  background-position: 50% 50%;
  margin: 7px 37px 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 159px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-5 {
  margin: 3px 61px 0 81px;
}

.u-section-2 .u-social-icons-2 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 20px 92px 0 auto;
}

.u-section-2 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-6 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/7d0a4f74/4770622/images/WhatsAppImage2023-05-01at12.37.41AM.jpeg");
  background-position: 50% 50%;
  margin: 7px 37px 0 auto;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 159px;
  margin: 13px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 3px 61px 0 81px;
}

.u-section-2 .u-social-icons-3 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 20px 92px 0 auto;
}

.u-section-2 .u-icon-7 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-8 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-9 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-list-2 {
  width: 1140px;
  margin: -1016px auto 60px -10px;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 559px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-4 {
  padding: 28px 30px;
}

.u-section-2 .u-image-4 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/7d0a4f74/4770622/images/WhatsAppImage2023-05-01at12.35.23AM.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  text-transform: none;
  margin: 22px 58px 0 86px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-social-icons-4 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 12px 88px 0 auto;
}

.u-section-2 .u-icon-10 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-11 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-12 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-container-layout-5 {
  padding: 28px 30px;
}

.u-section-2 .u-image-5 {
  width: 240px;
  height: 240px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 58px 0 86px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-social-icons-5 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 12px 88px 0 auto;
}

.u-section-2 .u-icon-13 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-14 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-15 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-2 .u-container-layout-6 {
  padding: 28px 30px;
}

.u-section-2 .u-image-6 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/7d0a4f74/4770622/images/WhatsAppImage2023-05-01at12.36.05AM.jpeg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  text-transform: none;
  font-size: 1.5rem;
  margin: 22px 58px 0 86px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-2 .u-social-icons-6 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 12px 88px 0 auto;
}

.u-section-2 .u-icon-16 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-2 .u-icon-17 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-2 .u-icon-18 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 244px;
    margin-left: 327px;
    margin-right: 370px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 559px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 461px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 217px;
    margin-right: 260px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1059px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 127px;
    margin-right: 170px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 27px;
    margin-right: 70px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 537px;
}

.u-section-3 .u-list-1 {
  margin-top: -112px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 461px;
  grid-auto-columns: 100%;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 240px;
  height: 240px;
  background-image: url("https://assets.nicepagecdn.com/7d0a4f74/4770622/images/WhatsAppImage2023-05-01at12.39.39AM.jpeg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  margin: 57px 460px 0 472px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  width: 141px;
  margin: 20px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 20px 476px 0 auto;
}

.u-section-3 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-3 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    margin-right: 360px;
    margin-left: 372px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 250px;
    margin-left: 262px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 180px;
    margin-left: 192px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 80px;
    margin-left: 92px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 14px;
}